*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.container{
    height: 500px;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 7px;
}
.preview{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    left: 0;
    top: 0;
    z-index: 5;
}
.preview >span {
    position: absolute;
    right: 12px;
    top: 7px;
    color: white;
}
.storiesbox{
    width: 100%;
    height: 100%;
    padding: 3px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.storiesbox::-webkit-scrollbar{
    display: none;

}
.story{
    position: relative;
    cursor: pointer;
    height: 70px;
    width: 70px;
    border: 2px solid lightgray;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
}
.story > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.progress{
    width: 95%;
    background-color: gray;
    position: absolute;
    height: 3px;
    top: 5px;
    left: 8px;
}
.seek{
    width: 95%;
    background-color: lightgray;
    height: 3px;
    border-radius: 10px;
}